<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-cn">
<head th:replace="fragment/head :: head(修改商品)">
    <title></title>
</head>
<body>
<nav th:replace="fragment/back_nav::nav(1)"></nav>
<div class="container" id="main">
    <form  enctype="multipart/form-data" action="/manager/submitProduct" method="post">
        <input name="id" hidden="hidden" th:value="${product.id}">
        <input id="categoryId" hidden="hidden" th:value="${product.categoryId}">
        <input id="productImg" hidden="hidden" th:value="'/productImg/'+${product.ps.productImg}">
        <div class="form-group">
            <label class="col-sm-2"><span class="text-danger">*</span>产品标题：</label>
            <input class="form-control" name="productName" required th:value="${product.productName}">
        </div>
        <div class="form-group">
            <label class="col-sm-2"><span class="text-danger">*</span>产品描述：</label>
            <textarea class="form-control" name="ps.specification" required th:text="${product.ps.specification}"></textarea>
        </div>
        <div class="form-group">
            <label class="col-sm-2"><span class="text-danger">*</span>产品分类：</label>
            <select class="custom-select" name="categoryId" required v-model="categoryId">
                <option v-for="(item,index) of items"
                        :key="index"
                        :value="item.id"
                        v-text="item.categoryName"
                ></option>
            </select>
        </div>
        <div class="form-group">
            <label class="col-sm-5"><span class="text-danger">*</span>产品价格(单位为分，即101为1.01元。)：</label>
            <input type="number" class="form-control" name="ps.price" required th:value="${product.ps.price}">
        </div>
        <div class="form-group">
            <label class="col-sm-5"><span class="text-danger">*</span>产品促销价(单位为分，即101为1.01元。)：</label>
            <input type="number" class="form-control" name="ps.discount" required th:value="${product.ps.discount}">
        </div>
        <div class="form-group">
            <label class="col-sm-2"><span class="text-danger">*</span>产品库存：</label>
            <input type="number" class="form-control" name="ps.inventory" required th:value="${product.ps.inventory}">
        </div>
        <div class="form-group">
            <div>
                <img style="height: 300px;width: 300px" :src="imgPath">
            </div>
            <div><span class="text-danger">*</span>选择图片：</div>
            <div class="custom-file">
                <label class="custom-file-label" for="file" v-text="fileName"></label>
                <input id="file" @change="imgChange()" name="file" type="file" accept="image/*"  class="custom-file-input"  required>
            </div>
        </div>
        <div class="form-group">
            <button @click="save"  type="button" class="btn btn-primary">保存</button>
        </div>
    </form>
</div>

<div th:replace="fragment/footer::footer"></div>
<script>

    $(function () {
        var vue=new Vue({
            el:"#main",
            data:{
                fileName:null,
                items:null,
                categoryId:parseInt($('#categoryId').val()),
                imgPath:$('#productImg').val()
            },
            mounted:function(){
                this.getData();
            },
            methods:{
                imgChange:function(){
                    var file=$('#file')[0].files[0];
                    if (file==null)return;
                    var reader = new FileReader();
                    reader.readAsDataURL(file);
                    reader.onload=function (ev) {
                        vue.fileName=file.name;
                        vue.imgPath=this.result;
                    };
                },
                save:function(){
                    var data=new FormData($("#main form")[0]);
                    $.ajax({
                        url:'/manager/editProduct',
                        data:data,
                        type:'post',
                        processData: false,
                        contentType: false,
                        success:function (result) {
                            if (200===result.code){
                                vue.toast(result.extend.data,'danger');
                            }else {
                                $('#modal').modal('hide');
                                vue.getData();
                                vue.toast('修改成功','success');
                                setInterval(function () {
                                    top.location=result.extend.data;
                                },1000);
                            }
                        }
                    });
                },
                getData:function(){
                    $.ajax({
                        url:'/getAllCategory',
                        success:function (result) {
                            if (100===result.code){
                               vue.items=result.extend.data;
                            }
                        }
                    });
                },
                toast:function (message,type) {
                    bootoast({
                        message: message,
                        type: type,
                        position: 'top-center',
                        icon: type,
                        timeout: 2,
                        animationDuration: 300,
                        dismissible: true
                    });
                }
            }
        });
    });
</script>
</body>
</html>